<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head><hr>
<h1 class="text-center">Edit course</h1>

<%= render "form", course: @course %>
