<h1>Your Learning</h1>
<ul>
  <%= link_to "Buy new Courses", root_path %>
  <% @transactions.each do |transaction| %>
  <% if current_user.id == transaction.student_id && transaction.course.id == transaction.course_id%>
      <section>
      <h1><%= transaction.course.title %></h1>
      <%= transaction.course.description %><br>
      </section>
      <wbr>
    <% end %>
  <% end %>
</ul>
